In [2]:
from datetime import datetime
import pandas as pd
import numpy as np
import requests

In [3]:
class Station:
    def __init__(self, nom:str, capteur:int, apiLabel:str) -> None:
        self.nom:str = nom
        self.capteur:int = capteur
        self.apiLabel:str = apiLabel
    
    def obtenirEtat(self):
        url = f"https://data.toulouse-metropole.fr/api/explore/v2.1/catalog/datasets/{self.apiLabel}/records?select=data%2C%20id%2C%20humidite%2C%20pression%2C%20temperature_en_degre_c%2C%20heure_de_paris&order_by=-heure_utc&limit=1"
        response = requests.get(url)
        data = response.json()
        data = pd.DataFrame(data['results']).iloc[0] # première ligne
        record = Record(data["temperature_en_degre_c"], data["humidite"], data["pression"], data["heure_de_paris"], self)
        record.afficher()


class Donnee:
    def __init__(self) -> None:
        pass


class Record:
    def __init__(self, temperature:float, humidite:int, pression:int, heure:datetime, station:Station) -> None:
        self.temperature:float = temperature
        self.humidite:int = humidite
        self.pression:int = pression
        self.heure:datetime = heure
        self.station:Station = station
    
    def afficher(self):
        print(f"{self.heure}\nTempérature : {self.temperature} ; Humidité : {self.humidite} ; Pression : {self.pression}")


class Printing:
    def __init__(self) -> None:
        pass


class DataExtractor:
    def __init__(self) -> None:
        pass


class RecordExtractor:
    @staticmethod
    def extract(data) -> Record:
        temperature = data.get("temperature_en_degre_c")
        humidite = data.get("humidite")
        pression = data.get("pression")
        heure = data.get("heure_de_paris")
        station = data.get("id")
        return Record(temperature, humidite, pression, heure, station)
        
        
class CSVExtractor(DataExtractor):
    @staticmethod
    def extract(filename:str):
        return pd.read_csv(filename, sep=";")


class Test:
    def __init__(self, record) -> None:
        if record["humidite"] == None:
            print("Error")


class Clean:
    def __init__(self) -> None:
        pass


class Config:
    def __init__(self) -> None:
        pass


class StationSelector(Config):
    def __init__(self) -> None:
        super().__init__()


# Ajouter la visualisation, le nettoyage(?), le stockage, la transformation, l'extraction, les tests, la config initiale (inputs)
# StationSelector, DataVisualizer

In [5]:
#stat1 = Station("Compans", 42)

In [6]:
url = "https://data.toulouse-metropole.fr/api/explore/v2.1/catalog/datasets/42-station-meteo-toulouse-parc-compans-cafarelli/records?select=data%2C%20id%2C%20humidite%2C%20pression%2C%20temperature_en_degre_c%2C%20heure_utc&order_by=-heure_utc&limit=20&offset=0"
response = requests.get(url)
data = response.json()
data = pd.DataFrame(data['results'])
data.head()

,data,id,humidite,pression,temperature_en_degre_c,heure_utc
0,5566640fda98d0000ba00080,42,83,99300,13.6,2025-11-06T07:45:00+00:00
1,556663efde9910000bc008c0,42,83,99400,13.7,2025-11-06T07:30:00+00:00
2,556663d0028960000ba01500,42,81,99300,14.0,2025-11-06T07:15:00+00:00
3,556663b0268800000ba01400,42,81,99300,14.9,2025-11-06T07:00:00+00:00
4,55666390868030000ba00c40,42,80,99300,16.1,2025-11-06T06:45:00+00:00

In [7]:
data.shape

(20, 6)

In [8]:
data = CSVExtractor.extract("/Users/morrylk/Cours_M1_Ynov/Algo-et-dev/42-station-meteo-toulouse-parc-compans-cafarelli.csv")
data.head()

,data,id,humidite,direction_du_vecteur_de_vent_max,pluie_intensite_max,pression,direction_du_vecteur_vent_moyen,type_de_station,pluie,direction_du_vecteur_de_rafale_de_vent_max,force_moyenne_du_vecteur_vent,force_rafale_max,temperature,heure_de_paris,heure_utc
0,552a630fca7800000c200000,42.0,79.0,0.0,0.0,99700.0,0.0,ISS,0.0,0.0,0.0,0.0,13.2,2025-09-10T07:45:00+02:00,2025-09-10T05:45:00+00:00
1,55296af0d61000000c600000,42.0,66.0,0.0,0.0,99900.0,0.0,ISS,0.0,0.0,0.0,0.0,17.5,2025-09-09T23:30:00+02:00,2025-09-09T21:30:00+00:00
2,55296b509a3800000c600000,42.0,71.0,0.0,0.0,99900.0,0.0,ISS,0.0,0.0,0.0,0.0,16.6,2025-09-10T00:15:00+02:00,2025-09-09T22:15:00+00:00
3,55296b30a63000000c600000,42.0,70.0,0.0,0.0,99900.0,0.0,ISS,0.0,0.0,0.0,0.0,16.9,2025-09-10T00:00:00+02:00,2025-09-09T22:00:00+00:00
4,552a63f00e6800000c200800,42.0,77.0,0.0,0.0,99700.0,0.0,ISS,0.0,0.0,0.0,2.0,14.3,2025-09-10T09:30:00+02:00,2025-09-10T07:30:00+00:00

In [9]:
data.isna().sum()

data                                           0
id                                            19
humidite                                      20
direction_du_vecteur_de_vent_max              20
pluie_intensite_max                           20
pression                                      20
direction_du_vecteur_vent_moyen               20
type_de_station                               20
pluie                                         20
direction_du_vecteur_de_rafale_de_vent_max    20
force_moyenne_du_vecteur_vent                 20
force_rafale_max                              20
temperature                                   20
heure_de_paris                                20
heure_utc                                     20
dtype: int64

In [10]:
data.iloc[0]

data                                           552a630fca7800000c200000
id                                                                 42.0
humidite                                                           79.0
direction_du_vecteur_de_vent_max                                    0.0
pluie_intensite_max                                                 0.0
pression                                                        99700.0
direction_du_vecteur_vent_moyen                                     0.0
type_de_station                                                     ISS
pluie                                                               0.0
direction_du_vecteur_de_rafale_de_vent_max                          0.0
force_moyenne_du_vecteur_vent                                       0.0
force_rafale_max                                                    0.0
temperature                                                        13.2
heure_de_paris                                2025-09-10T07:45:00+02:00
heure_utc                                     2025-09-10T05:45:00+00:00
Name: 0, dtype: object

In [14]:
stat1 = Station("Compans Cafarelli", 42, "42-station-meteo-toulouse-parc-compans-cafarelli")
#record1 = Record(data.iloc[0]["temperature_en_degre_c"], data.iloc[0]["humidite"], data.iloc[0]["pression"], data.iloc[0]["heure_utc"], stat1)

In [15]:
#record1.temperature

In [16]:
stat1.obtenirEtat()

2025-11-06T07:45:00+00:00
Température : 13.6 ; Humidité : 83 ; Pression : 99300

In [17]:
print(Test(data.iloc[55576]))

<__main__.Test object at 0x14aa01d30>

In [18]:
for i in range(data.shape[0]):
    Test(data.iloc[i])